body {
       font-family: Impact;
       color:#ffcc00;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

       margin: 0px 0px 0px 0px;
       display: flex;
       justify-content: center;
       background: linear-gradient(180deg, #73e8ff, #abf5ff, #bbf7ff, #f3ffbb, #e4ff66, #ffe258, #ffda29, #fed200, #fea600, #fe7900, #fe5700, #c74400, #7a2a00, #5ea1a4, #95dbde);
       background-size: 3000% 3000%;

       -webkit-animation: AnimationName 60s ease infinite;
       -moz-animation: AnimationName 60s ease infinite;
       animation: AnimationName 60s ease infinite;

     }

       @-webkit-keyframes AnimationName {
           0%{background-position:51% 0%}
           50%{background-position:50% 100%}
           100%{background-position:51% 0%}
       }
       @-moz-keyframes AnimationName {
           0%{background-position:51% 0%}
           50%{background-position:50% 100%}
           100%{background-position:51% 0%}
       }
       @keyframes AnimationName {
           0%{background-position:51% 0%}
           50%{background-position:50% 100%}
           100%{background-position:51% 0%}
       }

.BGimg{
  width:100%;
  min-height:400px;
}

 h1 {
   margin: 0px;
   padding-top: 30px;
   text-align: center;
   flex-wrap: wrap;
 }
h3{
  margin: 4px;
  text-align: center;
  font-size:40px;
  flex-wrap: wrap;
}

img {
   overflow: hidden;
 }


.score{
  height: 100%;
  background-image: url('../img/darkerleaves.png');
  background-size: 200px;
  background-repeat: no-repeat;
  width: 100%;
  background-position-x: 50%;
  text-align: center;
  padding-top:30px;
  font-size: 30px;
}

#scoreDisplay{
  color: white;
}

 #topNav{
   width: 100%;
   display: flex;
   height: 20%;
   margin: 0px;
   position: fixed;
   background-image: url('../img/topborder.svg');
   background-repeat: repeat-x;
   overflow: hidden;
     z-index: 2;
 }
#game {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 1px;
}
#upgrades {
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  z-index: 1;
}

#egg{
  align-self: center;
  align-items: center;
  height:50%;
   position:absolute;
     z-index: 1;
 }

 #backgroundimage{
   z-index: 0;
   overflow: hidden;
   align-content: center;
    position: fixed;
    width:100%;
    height:100%;
 }

#bottomNav{
  width: 100%;
  align-items: center;
  display: flex;
  bottom: 0px;
  height: auto;
  position:fixed;
  background-image: url('../img/bottomborder.svg');
  background-repeat: repeat-x;
  overflow:hidden;
  z-index: 2;
  padding: 15px;
}

#gameButton, #upgradesButton, #shopButton, #leaderboardButton {
  flex-grow: 1;
   align-items: center;
   height: 50%;
   width:23%;
   margin-right: 1%;
   margin-left: 1%;
   margin-right: 1%;
   margin-left: 1%;
   text-align: center;
   width:auto;
   height:auto;
   border-color: rgba(201, 76, 76, 0);
   background-color: rgba(201, 76, 76, 0);
}

.gamebutton:focus{
  outline:none;
}

 .buttonimage{
   width:85px;
   height:85px;
 }


 .hidden {
   display: none!important;
 }

ul {
   text-align: center;
   margin: 0px 0px 0px 0px;
   padding: 0px;
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
 }
 li {
   margin: 0px;
   padding: 0px;
   font-size: 30%;
   width:20%;
 }

.purchasebox{
  display: flex;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 12vh;
  margin: 10px;
  padding: 10px;
  background-color:#ff550080;
  border: 1px solid #ff5500;
  overflow:hidden;
}


.bottomspacing {
  height:150px;
}

.purchasebtn-img{
  width: 150px;
}


 .egg-img{
   width: 100px;
   height: 100px;
 }


 @media screen and (max-width: 800px) {
  #upgrades {
    max-width: 90%;
    align-self: center;
  }
  .spacing {
    margin-right: 0px;

  }
}
